@charset "UTF-8";
/*
===========================
CONTEÚDO:

* Configurações iniciais
* Ferramentas
* Genérico
* Base
* Objetos
* Componentes
* Trumps
===========================

Baseado na ITCSS: 

https://speakerdeck.com/dafed/managing-css-projects-with-itcss
http://www.hugobessa.com.br/posts/ITCSS-uma-maneira-de-pensar-arquiteturas-css/

*/
/**
 * Configurações iniciais
**/
/**
 * Ferramentas
**/
/**
 * Genérico
**/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../src/sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../src/sass/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 45, ../src/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 57, ../src/sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../src/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 78, ../src/sass/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../src/sass/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 98, ../src/sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, ../src/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, ../src/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, ../src/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, ../src/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, ../src/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, ../src/sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, ../src/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, ../src/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 173, ../src/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, ../src/sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, ../src/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, ../src/sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, ../src/sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, ../src/sass/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 232, ../src/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 256, ../src/sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, ../src/sass/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 278, ../src/sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 293, ../src/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 303, ../src/sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 312, ../src/sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, ../src/sass/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 335, ../src/sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 347, ../src/sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, ../src/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 371, ../src/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, ../src/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, ../src/sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, ../src/sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, ../src/sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, ../src/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 425, ../src/sass/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 51, ../src/sass/style.scss */
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 58, ../src/sass/style.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 63, ../src/sass/style.scss */
.wrapper {
  min-height: 100%;
  position: relative;
}

/**
 * Base
**/
/* line 70, ../src/sass/style.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #505962;
}

/* line 77, ../src/sass/style.scss */
section {
  padding: 80px 0;
}

/* line 81, ../src/sass/style.scss */
a {
  color: #de4215;
  text-decoration: none;
}
/* line 84, ../src/sass/style.scss */
a:hover {
  color: #de4215;
  text-decoration: underline;
}

/* line 90, ../src/sass/style.scss */
h2 {
  font-size: 38px;
  margin: 0;
  font-weight: 600;
}

/* line 96, ../src/sass/style.scss */
h3 {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

/* line 102, ../src/sass/style.scss */
p {
  line-height: 1.77;
}

/* line 106, ../src/sass/style.scss */
label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

/* line 114, ../src/sass/style.scss */
input[type=text],
input[type=email],
textarea {
  width: 100%;
  border: 1px solid #d7d7d7;
  padding: 9px;
  font-size: 16px;
  color: #505962;
  margin-bottom: 20px;
}

/* line 123, ../src/sass/style.scss */
input[type=submit] {
  border-radius: 3px;
  line-height: 1;
  border: none;
}

/**
 * Objetos
**/
/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
/* line 17, ../src/sass/grid.scss */
body {
  min-width: 1020px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
/* line 23, ../src/sass/grid.scss */
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
  position: relative;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
/* line 45, ../src/sass/grid.scss */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

/* line 66, ../src/sass/grid.scss */
.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12 {
  position: relative;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
/* line 74, ../src/sass/grid.scss */
.alpha {
  margin-left: 0;
}

/* line 78, ../src/sass/grid.scss */
.omega {
  margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 86, ../src/sass/grid.scss */
.container_12 .grid_1 {
  width: 45px;
}

/* line 90, ../src/sass/grid.scss */
.container_12 .grid_2 {
  width: 130px;
}

/* line 94, ../src/sass/grid.scss */
.container_12 .grid_3 {
  width: 215px;
}

/* line 98, ../src/sass/grid.scss */
.container_12 .grid_4 {
  width: 300px;
}

/* line 102, ../src/sass/grid.scss */
.container_12 .grid_5 {
  width: 385px;
}

/* line 106, ../src/sass/grid.scss */
.container_12 .grid_6 {
  width: 470px;
}

/* line 110, ../src/sass/grid.scss */
.container_12 .grid_7 {
  width: 555px;
}

/* line 114, ../src/sass/grid.scss */
.container_12 .grid_8 {
  width: 640px;
}

/* line 118, ../src/sass/grid.scss */
.container_12 .grid_9 {
  width: 725px;
}

/* line 122, ../src/sass/grid.scss */
.container_12 .grid_10 {
  width: 810px;
}

/* line 126, ../src/sass/grid.scss */
.container_12 .grid_11 {
  width: 895px;
}

/* line 130, ../src/sass/grid.scss */
.container_12 .grid_12 {
  width: 980px;
}

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 141, ../src/sass/grid.scss */
.container_12 .prefix_1 {
  padding-left: 85px;
}

/* line 145, ../src/sass/grid.scss */
.container_12 .prefix_2 {
  padding-left: 170px;
}

/* line 149, ../src/sass/grid.scss */
.container_12 .prefix_3 {
  padding-left: 255px;
}

/* line 153, ../src/sass/grid.scss */
.container_12 .prefix_4 {
  padding-left: 340px;
}

/* line 157, ../src/sass/grid.scss */
.container_12 .prefix_5 {
  padding-left: 425px;
}

/* line 161, ../src/sass/grid.scss */
.container_12 .prefix_6 {
  padding-left: 510px;
}

/* line 165, ../src/sass/grid.scss */
.container_12 .prefix_7 {
  padding-left: 595px;
}

/* line 169, ../src/sass/grid.scss */
.container_12 .prefix_8 {
  padding-left: 680px;
}

/* line 173, ../src/sass/grid.scss */
.container_12 .prefix_9 {
  padding-left: 765px;
}

/* line 177, ../src/sass/grid.scss */
.container_12 .prefix_10 {
  padding-left: 850px;
}

/* line 181, ../src/sass/grid.scss */
.container_12 .prefix_11 {
  padding-left: 935px;
}

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 191, ../src/sass/grid.scss */
.container_12 .suffix_1 {
  padding-right: 85px;
}

/* line 195, ../src/sass/grid.scss */
.container_12 .suffix_2 {
  padding-right: 170px;
}

/* line 199, ../src/sass/grid.scss */
.container_12 .suffix_3 {
  padding-right: 255px;
}

/* line 203, ../src/sass/grid.scss */
.container_12 .suffix_4 {
  padding-right: 340px;
}

/* line 207, ../src/sass/grid.scss */
.container_12 .suffix_5 {
  padding-right: 425px;
}

/* line 211, ../src/sass/grid.scss */
.container_12 .suffix_6 {
  padding-right: 510px;
}

/* line 215, ../src/sass/grid.scss */
.container_12 .suffix_7 {
  padding-right: 595px;
}

/* line 219, ../src/sass/grid.scss */
.container_12 .suffix_8 {
  padding-right: 680px;
}

/* line 223, ../src/sass/grid.scss */
.container_12 .suffix_9 {
  padding-right: 765px;
}

/* line 227, ../src/sass/grid.scss */
.container_12 .suffix_10 {
  padding-right: 850px;
}

/* line 231, ../src/sass/grid.scss */
.container_12 .suffix_11 {
  padding-right: 935px;
}

/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 241, ../src/sass/grid.scss */
.container_12 .push_1 {
  left: 85px;
}

/* line 245, ../src/sass/grid.scss */
.container_12 .push_2 {
  left: 170px;
}

/* line 249, ../src/sass/grid.scss */
.container_12 .push_3 {
  left: 255px;
}

/* line 253, ../src/sass/grid.scss */
.container_12 .push_4 {
  left: 340px;
}

/* line 257, ../src/sass/grid.scss */
.container_12 .push_5 {
  left: 425px;
}

/* line 261, ../src/sass/grid.scss */
.container_12 .push_6 {
  left: 510px;
}

/* line 265, ../src/sass/grid.scss */
.container_12 .push_7 {
  left: 595px;
}

/* line 269, ../src/sass/grid.scss */
.container_12 .push_8 {
  left: 680px;
}

/* line 273, ../src/sass/grid.scss */
.container_12 .push_9 {
  left: 765px;
}

/* line 277, ../src/sass/grid.scss */
.container_12 .push_10 {
  left: 850px;
}

/* line 281, ../src/sass/grid.scss */
.container_12 .push_11 {
  left: 935px;
}

/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 291, ../src/sass/grid.scss */
.container_12 .pull_1 {
  left: -85px;
}

/* line 295, ../src/sass/grid.scss */
.container_12 .pull_2 {
  left: -170px;
}

/* line 299, ../src/sass/grid.scss */
.container_12 .pull_3 {
  left: -255px;
}

/* line 303, ../src/sass/grid.scss */
.container_12 .pull_4 {
  left: -340px;
}

/* line 307, ../src/sass/grid.scss */
.container_12 .pull_5 {
  left: -425px;
}

/* line 311, ../src/sass/grid.scss */
.container_12 .pull_6 {
  left: -510px;
}

/* line 315, ../src/sass/grid.scss */
.container_12 .pull_7 {
  left: -595px;
}

/* line 319, ../src/sass/grid.scss */
.container_12 .pull_8 {
  left: -680px;
}

/* line 323, ../src/sass/grid.scss */
.container_12 .pull_9 {
  left: -765px;
}

/* line 327, ../src/sass/grid.scss */
.container_12 .pull_10 {
  left: -850px;
}

/* line 331, ../src/sass/grid.scss */
.container_12 .pull_11 {
  left: -935px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 343, ../src/sass/grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
/* line 355, ../src/sass/grid.scss */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 364, ../src/sass/grid.scss */
.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
/* line 373, ../src/sass/grid.scss */
.clearfix {
  zoom: 1;
}

/* line 135, ../src/sass/style.scss */
.header-nav {
  width: 100%;
  padding-top: 20px;
  position: fixed;
  z-index: 20;
}

/* line 142, ../src/sass/style.scss */
.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 146, ../src/sass/style.scss */
.inline-list li {
  float: left;
}

/* line 151, ../src/sass/style.scss */
.box {
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
}

/* line 159, ../src/sass/style.scss */
.inner-icon {
  min-height: 36px;
  display: inline-block;
  background-position: left center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
  padding-left: 43px;
  text-align: left;
}

/* line 175, ../src/sass/style.scss */
.icon-historia .inner-icon {
  background-image: url('../images/icon-historia.png?1421954747');
}
/* line 179, ../src/sass/style.scss */
.icon-historia:hover .inner-icon, .icon-historia.active .inner-icon {
  background-image: url('../images/icon-historia-active.png?1421264357');
}

/* line 175, ../src/sass/style.scss */
.icon-pilares .inner-icon {
  background-image: url('../images/icon-pilares.png?1421264360');
}
/* line 179, ../src/sass/style.scss */
.icon-pilares:hover .inner-icon, .icon-pilares.active .inner-icon {
  background-image: url('../images/icon-pilares-active.png?1421264359');
}

/* line 175, ../src/sass/style.scss */
.icon-equipe .inner-icon {
  background-image: url('../images/icon-equipe.png?1421264355');
}
/* line 179, ../src/sass/style.scss */
.icon-equipe:hover .inner-icon, .icon-equipe.active .inner-icon {
  background-image: url('../images/icon-equipe-active.png?1421264353');
}

/* line 175, ../src/sass/style.scss */
.icon-escritorios .inner-icon {
  background-image: url('../images/icon-escritorios.png?1421264356');
}
/* line 179, ../src/sass/style.scss */
.icon-escritorios:hover .inner-icon, .icon-escritorios.active .inner-icon {
  background-image: url('../images/icon-escritorios-active.png?1421264355');
}

/* line 175, ../src/sass/style.scss */
.icon-clientes .inner-icon {
  background-image: url('../images/icon-clientes.png?1421264352');
}
/* line 179, ../src/sass/style.scss */
.icon-clientes:hover .inner-icon, .icon-clientes.active .inner-icon {
  background-image: url('../images/icon-clientes-active.png?1421264353');
}

/* line 175, ../src/sass/style.scss */
.icon-entenda-bim .inner-icon {
  background-image: url('../images/icon-entenda-bim.png?1421954744');
}
/* line 179, ../src/sass/style.scss */
.icon-entenda-bim:hover .inner-icon, .icon-entenda-bim.active .inner-icon {
  background-image: url('../images/icon-entenda-bim-active.png?1421954743');
}

/* line 175, ../src/sass/style.scss */
.icon-por-que-bim .inner-icon {
  background-image: url('../images/icon-por-que-bim.png?1421954750');
}
/* line 179, ../src/sass/style.scss */
.icon-por-que-bim:hover .inner-icon, .icon-por-que-bim.active .inner-icon {
  background-image: url('../images/icon-por-que-bim-active.png?1421954750');
}

/* line 175, ../src/sass/style.scss */
.icon-pense-bim .inner-icon {
  background-image: url('../images/icon-pense-bim.png?1421954749');
}
/* line 179, ../src/sass/style.scss */
.icon-pense-bim:hover .inner-icon, .icon-pense-bim.active .inner-icon {
  background-image: url('../images/icon-pense-bim-active.png?1421954749');
}

/* line 175, ../src/sass/style.scss */
.icon-construa .inner-icon {
  background-image: url('../images/icon-construa.png?1421954742');
}
/* line 179, ../src/sass/style.scss */
.icon-construa:hover .inner-icon, .icon-construa.active .inner-icon {
  background-image: url('../images/icon-construa-active.png?1421954742');
}

/* line 190, ../src/sass/style.scss */
.icon-eletrica .inner-icon span {
  background: url('../images/icons/icon-eletrica.png?1422465973') -135px center;
  float: left;
  width: 43px;
  height: 46px;
  display: inline-block;
}
/* line 199, ../src/sass/style.scss */
.icon-eletrica:hover .inner-icon span, .icon-eletrica.active .inner-icon span {
  background: url('../images/icons/icon-eletrica.png?1422465973') -44px center;
}

/* line 203, ../src/sass/style.scss */
.icon-eletrica-big span {
  width: 47px;
  height: 150px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-eletrica.png?1422465973') left 5px no-repeat;
}

/* line 210, ../src/sass/style.scss */
.icon-eletrica-standalone {
  width: 43px;
  height: 46px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-eletrica.png?1422465973') -44px center;
}

/* line 217, ../src/sass/style.scss */
.icon-eletrica-border {
  width: 43px;
  height: 46px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-eletrica.png?1422465973') -182px center;
}

/* line 190, ../src/sass/style.scss */
.icon-4d .inner-icon span {
  background: url('../images/icons/icon-4d.png?1422465973') -135px center;
  float: left;
  width: 43px;
  height: 46px;
  display: inline-block;
}
/* line 199, ../src/sass/style.scss */
.icon-4d:hover .inner-icon span, .icon-4d.active .inner-icon span {
  background: url('../images/icons/icon-4d.png?1422465973') -44px center;
}

/* line 203, ../src/sass/style.scss */
.icon-4d-big span {
  width: 47px;
  height: 150px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-4d.png?1422465973') left 5px no-repeat;
}

/* line 210, ../src/sass/style.scss */
.icon-4d-standalone {
  width: 43px;
  height: 46px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-4d.png?1422465973') -44px center;
}

/* line 217, ../src/sass/style.scss */
.icon-4d-border {
  width: 43px;
  height: 46px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-4d.png?1422465973') -182px center;
}

/* line 190, ../src/sass/style.scss */
.icon-hidrossanitaria .inner-icon span {
  background: url('../images/icons/icon-hidrossanitaria.png?1422465975') -135px center;
  float: left;
  width: 43px;
  height: 46px;
  display: inline-block;
}
/* line 199, ../src/sass/style.scss */
.icon-hidrossanitaria:hover .inner-icon span, .icon-hidrossanitaria.active .inner-icon span {
  background: url('../images/icons/icon-hidrossanitaria.png?1422465975') -44px center;
}

/* line 203, ../src/sass/style.scss */
.icon-hidrossanitaria-big span {
  width: 47px;
  height: 150px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-hidrossanitaria.png?1422465975') left 5px no-repeat;
}

/* line 210, ../src/sass/style.scss */
.icon-hidrossanitaria-standalone {
  width: 43px;
  height: 46px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-hidrossanitaria.png?1422465975') -44px center;
}

/* line 217, ../src/sass/style.scss */
.icon-hidrossanitaria-border {
  width: 43px;
  height: 46px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-hidrossanitaria.png?1422465975') -182px center;
}

/* line 190, ../src/sass/style.scss */
.icon-incendio .inner-icon span {
  background: url('../images/icons/icon-incendio.png?1422465974') -135px center;
  float: left;
  width: 43px;
  height: 46px;
  display: inline-block;
}
/* line 199, ../src/sass/style.scss */
.icon-incendio:hover .inner-icon span, .icon-incendio.active .inner-icon span {
  background: url('../images/icons/icon-incendio.png?1422465974') -44px center;
}

/* line 203, ../src/sass/style.scss */
.icon-incendio-big span {
  width: 47px;
  height: 150px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-incendio.png?1422465974') left 5px no-repeat;
}

/* line 210, ../src/sass/style.scss */
.icon-incendio-standalone {
  width: 43px;
  height: 46px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-incendio.png?1422465974') -44px center;
}

/* line 217, ../src/sass/style.scss */
.icon-incendio-border {
  width: 43px;
  height: 46px;
  float: left;
  display: inline-block;
  background: url('../images/icons/icon-incendio.png?1422465974') -182px center;
}

/* line 229, ../src/sass/style.scss */
.icon-facebook {
  background: url('../images/icon-facebook.png?1421264356') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-map {
  background: url('../images/icon-map.png?1421264358') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-phone {
  background: url('../images/icon-phone.png?1421264358') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-check {
  background: url('../images/icon-check.png?1421264346') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-video {
  background: url('../images/icon-video.png?1421954751') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-gallery {
  background: url('../images/icon-gallery.png?1421954746') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-square {
  background: url('../images/icon-square.png?1421954751') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-type {
  background: url('../images/icon-type.png?1421954751') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-city {
  background: url('../images/icon-city.png?1421954741') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-spda {
  background: url('../images/icon-spda.png?1422465970') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-subestacao {
  background: url('../images/icon-subestacao.png?1422465971') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-comunicacao {
  background: url('../images/icon-comunicacao.png?1422465954') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-eletricas {
  background: url('../images/icon-eletricas.png?1422465956') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-automacao {
  background: url('../images/icon-automacao.png?1422465952') left top no-repeat;
}

/* line 229, ../src/sass/style.scss */
.icon-seguranca {
  background: url('../images/icon-seguranca.png?1422465969') left top no-repeat;
}

/* line 234, ../src/sass/style.scss */
.footer-icon {
  padding: 8px 0 8px 45px;
  margin-right: 30px;
  text-align: right;
  background-position: left center;
  float: right;
}

/* line 242, ../src/sass/style.scss */
.number {
  background: url('../images/bg-number.png?1421264344');
  width: 44px;
  height: 50px;
  color: #fff;
  display: inline-block;
  line-height: 50px;
  margin-bottom: 20px;
}

/* line 252, ../src/sass/style.scss */
.icon-check {
  background-position: left 8px;
  padding-left: 45px;
}

/* line 258, ../src/sass/style.scss */
.tabs {
  background: url('../images/bg-tabs.png?1422465947') 10px bottom repeat-x;
  display: inline-block;
  position: relative;
  padding: 0 40px 20px;
  -webkit-transition: background-position 0.2s ease-in;
  -moz-transition: background-position 0.2s ease-in;
  -o-transition: background-position 0.2s ease-in;
  transition: background-position 0.2s ease-in;
  margin: 20px 0;
}

/* line 267, ../src/sass/style.scss */
.tab-item {
  display: inline-block;
}
/* line 269, ../src/sass/style.scss */
.tab-item a {
  color: #505962;
  text-decoration: none;
}
/* line 273, ../src/sass/style.scss */
.tab-item.active a {
  color: #de4215;
}

/**
 * Componentes
**/
/* line 284, ../src/sass/style.scss */
.main-header {
  height: 592px;
  display: table;
  width: 100%;
}

/* line 290, ../src/sass/style.scss */
.video {
  width: 100%;
  position: absolute;
}

/* line 295, ../src/sass/style.scss */
.vert-center {
  display: table-cell;
  vertical-align: middle;
}

/* line 300, ../src/sass/style.scss */
.logo {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}
/* line 305, ../src/sass/style.scss */
.logo a {
  margin: 0;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
  background: url('../images/logo.png?1422647141');
  width: 135px;
  height: 45px;
  padding: 0;
}

/* line 319, ../src/sass/style.scss */
.header-transparent {
  -webkit-transition: background-color 0.1s ease-in, box-sahdow 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in, box-sahdow 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in, box-sahdow 0.1s ease-in;
  transition: background-color 0.1s ease-in, box-sahdow 0.1s ease-in;
  background: url('../images/bg-header.png?1421954737') center top repeat-x;
  height: 106px;
}

/* line 325, ../src/sass/style.scss */
.header-white {
  -webkit-transition: background-color 0.3s ease-in, box-sahdow 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in, box-sahdow 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in, box-sahdow 0.3s ease-in;
  transition: background-color 0.3s ease-in, box-sahdow 0.3s ease-in;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.36);
  height: 88px;
}
/* line 332, ../src/sass/style.scss */
.header-white .menu-link,
.header-white .menu-link:hover {
  color: #2c2829;
}
/* line 335, ../src/sass/style.scss */
.header-white .logo a {
  background: url('../images/logo-black.png?1421954753');
}
/* line 338, ../src/sass/style.scss */
.header-white .login-item {
  background: url('../images/login-black.png?1421954751');
}

/* line 343, ../src/sass/style.scss */
.header-menu {
  float: left;
  position: relative;
  padding: 10px 0;
  margin-left: 40px;
}

/* line 350, ../src/sass/style.scss */
.menu-item {
  display: inline-block;
  padding: 0 18px 0 13px;
  background: url('../images/ellipse.png?1421954739') center right no-repeat;
}

/* line 356, ../src/sass/style.scss */
.menu-link {
  color: #fff;
  text-transform: lowercase;
}

/* line 362, ../src/sass/style.scss */
.current-menu-item a,
.menu-link:hover {
  color: #fff;
  border-bottom: 2px solid #de4215;
  text-decoration: none;
}

/* line 368, ../src/sass/style.scss */
.login-item {
  margin: 0;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
  float: left;
  background: url('../images/login.png?1421954752');
  width: 16px;
  height: 20px;
  position: relative;
  top: 10px;
  margin-left: 15px;
}

/* line 385, ../src/sass/style.scss */
.main-title {
  color: #fff;
  font-size: 40px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.56);
  font-weight: 600;
}

/* line 392, ../src/sass/style.scss */
.section-title {
  font-size: 60px;
  line-height: 64px;
  font-weight: 600;
}

/* line 399, ../src/sass/style.scss */
.home .main-title {
  font-size: 71px;
  color: #fff;
  font-weight: 600;
  line-height: 69px;
  text-shadow: none;
  margin-top: 88px;
}
/* line 406, ../src/sass/style.scss */
.home .main-title span {
  color: #de4215;
}
/* line 410, ../src/sass/style.scss */
.home .main-header {
  position: relative;
  text-align: center;
  position: relative;
}
/* line 414, ../src/sass/style.scss */
.home .main-header p {
  font-size: 24px;
}
/* line 417, ../src/sass/style.scss */
.home .main-header .button {
  margin-top: 50px;
}
/* line 421, ../src/sass/style.scss */
.home h2 {
  font-size: 60px;
}

/* line 426, ../src/sass/style.scss */
.intro {
  text-align: center;
}

/* line 430, ../src/sass/style.scss */
.home .intro {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  color: #fff;
}

/* line 437, ../src/sass/style.scss */
.button {
  background: none;
  border: 2px solid;
  display: inline-block;
  padding: 20px 30px;
  color: #fff;
  line-height: 1;
  font-size: 22px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  min-width: 275px;
}
/* line 39, ../src/sass/style.scss */
.button:hover {
  background: white;
  border-color: white;
  color: #505962;
}
/* line 448, ../src/sass/style.scss */
.button:hover {
  text-decoration: none;
}

/* line 453, ../src/sass/style.scss */
.button-red {
  color: #de4215;
}
/* line 39, ../src/sass/style.scss */
.button-red:hover {
  background: #de4215;
  border-color: #de4215;
  color: white;
}

/* line 458, ../src/sass/style.scss */
.button-bim {
  background: url('../images/button-bim.png?1422465948') no-repeat;
  color: #fff;
  padding: 11px 18px;
  float: left;
  position: relative;
  margin-left: 25px;
}
/* line 465, ../src/sass/style.scss */
.button-bim:hover {
  color: #fff;
}

/* line 470, ../src/sass/style.scss */
.submit-button {
  padding: 12px 20px;
  background: #de4215;
  color: #fff;
}

/* line 476, ../src/sass/style.scss */
.go {
  background: url('../images/go.png?1421264346') no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: bottom;
}

/* line 485, ../src/sass/style.scss */
.button:hover .go {
  background: url('../images/go-dark.png?1421264346') no-repeat;
}

/* line 490, ../src/sass/style.scss */
.main-footer {
  position: relative;
  z-index: 5;
  background: #fff;
  font-size: 16px;
  padding: 40px 0 50px;
  margin-top: 10px;
  overflow: hidden;
}
/* line 498, ../src/sass/style.scss */
.main-footer a {
  color: inherit;
}

/* line 503, ../src/sass/style.scss */
.pre-footer {
  position: relative;
  z-index: 5;
  background: #fff;
}

/* line 509, ../src/sass/style.scss */
.section-carousel {
  padding: 30px 0;
  text-align: center;
}
/* line 512, ../src/sass/style.scss */
.section-carousel h3 {
  margin-bottom: 30px;
}

/* line 517, ../src/sass/style.scss */
.home .section-carousel {
  padding: 80px 0;
}
/* line 519, ../src/sass/style.scss */
.home .section-carousel h3 {
  font-size: 60px;
  line-height: 1;
}

/* line 525, ../src/sass/style.scss */
.carousel-item {
  float: left;
  width: 14.28%;
}

/* line 530, ../src/sass/style.scss */
.clients {
  background: #efefef;
}

/* line 534, ../src/sass/style.scss */
.contact-info {
  margin-bottom: 40px;
}
/* line 536, ../src/sass/style.scss */
.contact-info .footer-icon {
  float: left;
}
/* line 539, ../src/sass/style.scss */
.contact-info a {
  color: #505962;
}

/* line 546, ../src/sass/style.scss */
.blog,
.resultado-busca {
  background: #f4f4f4;
}
/* line 548, ../src/sass/style.scss */
.blog .content,
.resultado-busca .content {
  padding-top: 180px;
  background: #f4f4f4;
  color: #505050;
}
/* line 553, ../src/sass/style.scss */
.blog .main-footer,
.resultado-busca .main-footer {
  background: #f4f4f4;
}

/* line 558, ../src/sass/style.scss */
.content {
  position: relative;
  z-index: 10;
  background: #fff;
}

/* line 566, ../src/sass/style.scss */
.content-menu {
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  position: relative;
  top: -92px;
}
/* line 572, ../src/sass/style.scss */
.content-menu + section {
  padding-top: 0;
}

/* line 577, ../src/sass/style.scss */
.content-menu-item {
  text-align: center;
  display: table;
  border-right: 1px solid #d5d5d5;
}
/* line 581, ../src/sass/style.scss */
.content-menu-item:first-child {
  border-left: 1px solid #d5d5d5;
}

/* line 586, ../src/sass/style.scss */
.content-menu-link {
  color: #505962;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 0 10px;
  height: 90px;
  border-bottom: 5px solid transparent;
  -webkit-transition: border-color 0.1s ease-in;
  -moz-transition: border-color 0.1s ease-in;
  -o-transition: border-color 0.1s ease-in;
  transition: border-color 0.1s ease-in;
}
/* line 596, ../src/sass/style.scss */
.content-menu-link:hover, .content-menu-link.active {
  border-bottom-color: #de4215;
  text-decoration: none;
}

/* line 602, ../src/sass/style.scss */
.bg-image {
  color: #fff;
  position: relative;
}

/* line 607, ../src/sass/style.scss */
.interessado {
  background: url('../images/bg-interessado.jpg?1422647139');
  background-attachment: fixed;
  height: 470px;
  width: 100%;
  display: table;
}
/* line 613, ../src/sass/style.scss */
.interessado p {
  font-size: 24px;
  line-height: 38px;
  font-weight: 300;
}

/* line 620, ../src/sass/style.scss */
.how {
  background-image: url('../images/bg-intro.jpg?1422647141');
  background-attachment: fixed;
  background-position: 50% 0;
  padding-bottom: 50px;
}

/* line 628, ../src/sass/style.scss */
.how-text {
  font-size: 24px;
  line-height: 38px;
  font-weight: 300;
  margin-top: 65px;
}
/* line 633, ../src/sass/style.scss */
.how-text:before {
  content: "";
  width: 280px;
  height: 2px;
  background: #fff;
  display: block;
  position: relative;
  top: -35px;
}
/* line 642, ../src/sass/style.scss */
.how-text p {
  margin: 0;
}

/* line 647, ../src/sass/style.scss */
.how-topics {
  margin-top: 60px;
}

/* line 651, ../src/sass/style.scss */
.pense-bim {
  background: url('../images/model.jpg?1422647138') center center;
  display: table;
  width: 100%;
  height: 670px;
}
/* line 656, ../src/sass/style.scss */
.pense-bim p {
  font-size: 24px;
  line-height: 38px;
}

/* line 662, ../src/sass/style.scss */
.topic {
  border-bottom: solid 1px #dedede;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
/* line 666, ../src/sass/style.scss */
.topic h2 {
  margin-bottom: 20px;
}
/* line 669, ../src/sass/style.scss */
.topic p {
  margin-top: 0;
}
/* line 672, ../src/sass/style.scss */
.topic .read-more {
  color: #909090;
  padding: 3px 0 3px 30px;
  background-position: left center;
  font-weight: 600;
}
/* line 677, ../src/sass/style.scss */
.topic .read-more + .read-more {
  margin-left: 40px;
}

/* line 685, ../src/sass/style.scss */
.portfolio .wp-pagenavi {
  float: none;
  display: inline-block;
}

/* line 691, ../src/sass/style.scss */
.portfolio-item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}
/* line 696, ../src/sass/style.scss */
.portfolio-item:hover .cover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 706, ../src/sass/style.scss */
.cover {
  background: url('../images/bg-portfolio.jpg?1421954731') center top;
  position: absolute;
  top: 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  opacity: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
/* line 720, ../src/sass/style.scss */
.cover .button {
  position: relative;
  top: 50%;
  margin-top: -33px;
}

/* line 727, ../src/sass/style.scss */
.portfolio-title {
  font-size: 50px;
  margin-bottom: 25px;
  color: #de4215;
}

/* line 733, ../src/sass/style.scss */
.portfolio-info {
  padding: 2px 0 2px 30px;
  background-position: left center;
}
/* line 736, ../src/sass/style.scss */
.portfolio-info + .portfolio-info {
  margin-left: 30px;
}

/* line 741, ../src/sass/style.scss */
.portfolio-content {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #f4f4f4;
  padding-top: 100px;
  overflow-y: scroll;
  text-align: left;
  -webkit-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -o-transition: top 0.4s ease-in;
  transition: top 0.4s ease-in;
}

/* line 754, ../src/sass/style.scss */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #f4f4f4;
  padding-top: 100px;
  overflow-y: scroll;
}

/* line 766, ../src/sass/style.scss */
.lightbox-content {
  border-top: solid 4px #de4215;
  padding: 60px 0;
  margin-top: 10px;
}
/* line 770, ../src/sass/style.scss */
.lightbox-content h2 {
  margin-bottom: 15px;
}

/* line 775, ../src/sass/style.scss */
.close {
  float: right;
  cursor: pointer;
}

/* line 780, ../src/sass/style.scss */
.project {
  margin-top: 60px;
}
/* line 782, ../src/sass/style.scss */
.project blockquote {
  border-top: solid 5px #dedede;
  font-size: 16px;
  padding-top: 10px;
  margin-top: 50px;
}
/* line 788, ../src/sass/style.scss */
.project .author {
  font-size: 14px;
  color: #999;
  font-weight: 600;
}

/* line 795, ../src/sass/style.scss */
.quote-title {
  color: #de4215;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  background: url('../images/quote-light.png?1421954756') left top no-repeat;
  padding: 20px 0 0 65px;
}

/* line 805, ../src/sass/style.scss */
.project-info p {
  margin: 0 0 5px;
}

/* line 810, ../src/sass/style.scss */
p.project-status {
  color: #de4215;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 20px;
}
/* line 815, ../src/sass/style.scss */
p.project-status:after {
  content: "";
  width: 80px;
  height: 1px;
  background: #dedede;
  display: block;
  position: relative;
  top: 5px;
}

/* line 827, ../src/sass/style.scss */
.clients-list {
  width: 100%;
  text-align: center;
  padding: 0 0 20px;
  display: table;
}

/* line 834, ../src/sass/style.scss */
.client-tab {
  display: table-cell;
  font-weight: 600;
}
/* line 838, ../src/sass/style.scss */
.client-tab a {
  display: block;
  color: #909090;
}

/* line 844, ../src/sass/style.scss */
.client-card {
  display: table;
  position: relative;
  width: 323px;
  height: 230px;
  background: #efefef;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 0.1s ease-in;
  -moz-transition: background 0.1s ease-in;
  -o-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}
/* line 853, ../src/sass/style.scss */
.client-card:hover {
  background: #dcdcdc;
}

/* line 858, ../src/sass/style.scss */
.card-active {
  cursor: default;
  z-index: 10;
}
/* line 861, ../src/sass/style.scss */
.card-active .client-info {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  opacity: 1;
}
/* line 868, ../src/sass/style.scss */
.card-active .project-feature {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
}

/* line 876, ../src/sass/style.scss */
.client-info {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 30px 20px 20px;
  color: #fff;
  background: #ea6f4c;
  background: rgba(233, 70, 26, 0.87);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
/* line 895, ../src/sass/style.scss */
.client-info h2 {
  font-size: 26px;
  font-weight: 600;
}

/* line 901, ../src/sass/style.scss */
.view-project {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* line 906, ../src/sass/style.scss */
.view-project:hover {
  color: #fff;
}

/* line 910, ../src/sass/style.scss */
.project-feature {
  margin: 10px 5px 0 0;
  position: relative;
  display: inline-block;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
}
/* line 915, ../src/sass/style.scss */
.project-feature:hover:before {
  content: "";
  position: absolute;
  border: solid 7px transparent;
  border-bottom: solid 12px #fff;
  top: 38px;
  left: 15px;
}
/* line 923, ../src/sass/style.scss */
.project-feature:hover:after {
  content: attr(alt);
  position: absolute;
  display: block;
  background: #fff;
  color: #505962;
  padding: 10px 15px;
  top: 55px;
  left: 0;
  white-space: nowrap;
  color: #4d4d4f;
  font-size: 16px;
}

/* line 945, ../src/sass/style.scss */
.first-section {
  background: url('../images/hands.jpg?1422647138') center center no-repeat;
  position: relative;
  background-attachment: fixed;
}
/* line 949, ../src/sass/style.scss */
.first-section .button {
  color: #505962;
  font-size: 18px;
  width: 284px;
  margin: 0 12px;
  padding: 20px;
}
/* line 39, ../src/sass/style.scss */
.first-section .button:hover {
  background: #505962;
  border-color: #505962;
  color: white;
}

/* line 959, ../src/sass/style.scss */
.third-section {
  background: #e7e7e7;
}

/* line 963, ../src/sass/style.scss */
.bg-dark {
  background: #505962;
  color: #fff;
}

/* line 968, ../src/sass/style.scss */
.bg-orange {
  background: #ea6f4c;
  color: #fff;
}

/* line 973, ../src/sass/style.scss */
.bg-pack {
  background: url('../images/bg-pack.jpg?1422647138');
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
  color: #fff;
}

/* line 982, ../src/sass/style.scss */
.textarea-fix {
  width: 510px;
  float: left;
}

/* line 987, ../src/sass/style.scss */
.search-input {
  color: #767676;
  font-size: 16px;
}

/* line 992, ../src/sass/style.scss */
.search-button {
  background: url('../images/search.png?1422465980') center center no-repeat white;
  width: 50px;
  display: inline-block;
  float: right;
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 10px;
}

/* line 1005, ../src/sass/style.scss */
.be-partner {
  background: #f5f5f5;
}
/* line 1007, ../src/sass/style.scss */
.be-partner h3 {
  font-size: 18px;
  margin-bottom: 40px;
}
/* line 1011, ../src/sass/style.scss */
.be-partner .inner-icon {
  margin-right: 0;
}
/* line 1015, ../src/sass/style.scss */
.be-partner .icon-equipe-dark .inner-icon {
  background-image: url('../images/icon-equipe-dark.png?1421264354');
}
/* line 1018, ../src/sass/style.scss */
.be-partner .icon-equipe-dark:hover .inner-icon {
  background-image: url('../images/icon-equipe-white.png?1421264354');
}
/* line 1023, ../src/sass/style.scss */
.be-partner .icon-clientes-dark .inner-icon {
  background-image: url('../images/icon-clientes-dark.png?1421264348');
}
/* line 1026, ../src/sass/style.scss */
.be-partner .icon-clientes-dark:hover .inner-icon {
  background-image: url('../images/icon-clientes-white.png?1421264352');
}
/* line 1031, ../src/sass/style.scss */
.be-partner .icon-escritorios-dark .inner-icon {
  background-image: url('../images/icon-escritorios-dark.png?1421264355');
}
/* line 1034, ../src/sass/style.scss */
.be-partner .icon-escritorios-dark:hover .inner-icon {
  background-image: url('../images/icon-escritorios-white.png?1421264356');
}
/* line 1038, ../src/sass/style.scss */
.be-partner .button {
  color: #505962;
  font-size: 18px;
  width: 284px;
  margin: 0 12px;
  padding: 20px;
}
/* line 39, ../src/sass/style.scss */
.be-partner .button:hover {
  background: #505962;
  border-color: #505962;
  color: white;
}

/* line 1048, ../src/sass/style.scss */
.map {
  width: 100%;
  height: 415px;
  margin: 0;
}

/* line 1055, ../src/sass/style.scss */
.parent-seja-parceiro .inner-icon {
  margin-right: 0;
}

/* line 1060, ../src/sass/style.scss */
textarea {
  height: 128px;
}

/* line 1064, ../src/sass/style.scss */
.small {
  font-size: 12px;
  font-style: italic;
  margin: 0;
}

/* line 1071, ../src/sass/style.scss */
.service h2 {
  font-weight: 600;
  line-height: 44px;
  background-position: left 7px;
  font-size: 32px;
}
/* line 1078, ../src/sass/style.scss */
.service p {
  margin-top: 0;
  line-height: 32px;
}

/* line 1084, ../src/sass/style.scss */
.item-pack {
  margin: 40px 0 0;
}

/* line 1089, ../src/sass/style.scss */
.areas h3 {
  border-top: solid 3px #fff;
  padding-top: 30px;
}
/* line 1093, ../src/sass/style.scss */
.areas p {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0 0 5px 40px;
  background-position: left top;
}
/* line 1099, ../src/sass/style.scss */
.areas a {
  color: #fff;
}

/* line 1104, ../src/sass/style.scss */
.more-area {
  padding: 15px 5px;
  margin-bottom: 40px;
  border: solid 1px #dedede;
  position: relative;
}
/* line 1118, ../src/sass/style.scss */
.more-area p {
  position: relative;
  float: left;
  margin: 0 12px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
}
/* line 1126, ../src/sass/style.scss */
.more-area span {
  float: right;
}
/* line 1129, ../src/sass/style.scss */
.more-area abbr {
  background: #de4215;
  color: #fff;
  border-radius: 50%;
  border-bottom: none;
  font-size: 16px;
  font-weight: 600;
  width: 29px;
  line-height: 29px;
  margin: 0 8px 0 0;
  text-align: center;
  display: inline-block;
}

/* line 1144, ../src/sass/style.scss */
.lightbox-text {
  padding: 10px 40px 40px;
}
/* line 1146, ../src/sass/style.scss */
.lightbox-text h2 {
  margin: 20px 0 40px;
}

/* line 1152, ../src/sass/style.scss */
.post-content {
  padding: 40px 40px 20px;
}

/* line 1156, ../src/sass/style.scss */
.post-title {
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
}
/* line 1160, ../src/sass/style.scss */
.post-title a {
  color: inherit;
}

/* line 1165, ../src/sass/style.scss */
.post-date img {
  position: relative;
  top: -2px;
}

/* line 1170, ../src/sass/style.scss */
.post-thumb {
  float: left;
  margin-right: 40px;
}

/* line 1175, ../src/sass/style.scss */
.post-excerpt {
  font-size: 16px;
  line-height: 26px;
}

/* line 1180, ../src/sass/style.scss */
.read-more {
  color: #de4215;
  background: url('../images/plus.png?1421264363') left center no-repeat;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 700;
}

/* line 1191, ../src/sass/style.scss */
.post-info {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}
/* line 1195, ../src/sass/style.scss */
.post-info img {
  margin-right: 10px;
  vertical-align: middle;
}
/* line 1199, ../src/sass/style.scss */
.post-info p {
  line-height: 1;
  display: inline-block;
  margin: 0 25px 15px 0;
}
/* line 1204, ../src/sass/style.scss */
.post-info a {
  color: inherit;
}

/* line 1209, ../src/sass/style.scss */
.social {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin: 0 0 30px;
  position: relative;
  top: 5px;
}
/* line 1216, ../src/sass/style.scss */
.social li {
  display: inline-block;
}
/* line 1219, ../src/sass/style.scss */
.social img {
  border-radius: 4px;
}

/* line 1224, ../src/sass/style.scss */
.wp-pagenavi {
  float: right;
  margin: 60px 0;
}
/* line 1228, ../src/sass/style.scss */
.wp-pagenavi a,
.wp-pagenavi span {
  color: #505050;
  border-top: solid 1px #c5c5c5;
  display: inline-block;
  margin: 0;
  padding: 10px 13px;
  float: left;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
/* line 1237, ../src/sass/style.scss */
.wp-pagenavi a:hover {
  border-color: #505962;
}
/* line 1240, ../src/sass/style.scss */
.wp-pagenavi .disabled {
  color: #c5c5c5;
}
/* line 1243, ../src/sass/style.scss */
.wp-pagenavi .current {
  color: #de4215;
  border-color: #de4215;
}

/* line 1251, ../src/sass/style.scss */
.error404 h1 {
  font-size: 60px;
  line-height: 1;
}
/* line 1255, ../src/sass/style.scss */
.error404 p {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
}
/* line 1260, ../src/sass/style.scss */
.error404 a {
  text-decoration: underline;
}

/* line 1265, ../src/sass/style.scss */
.plug {
  position: absolute;
  width: 50%;
  height: 215px;
  overflow: hidden;
}

/* line 1272, ../src/sass/style.scss */
.plug-m {
  background: url('../images/cable.jpg?1421954734') left center repeat-x;
  left: 0;
}
/* line 1275, ../src/sass/style.scss */
.plug-m img {
  float: right;
}

/* line 1280, ../src/sass/style.scss */
.plug-f {
  background: url('../images/cable-f.jpg?1421954732') left center repeat-x;
  right: 0;
}
/* line 1283, ../src/sass/style.scss */
.plug-f img {
  float: left;
}

/* line 1290, ../src/sass/style.scss */
.post-title {
  margin-bottom: 20px;
}

/* line 1294, ../src/sass/style.scss */
.text {
  color: #505050;
  font-size: 16px;
}
/* line 1297, ../src/sass/style.scss */
.text h3 {
  font-size: 20px;
}
/* line 1301, ../src/sass/style.scss */
.text a:hover {
  text-decoration: none;
  border-bottom: solid 2px #de4215;
}
/* line 1306, ../src/sass/style.scss */
.text ul {
  margin: 0;
  padding-left: 0px;
}
/* line 1309, ../src/sass/style.scss */
.text ul li {
  list-style: none;
  background: url('../images/ul-marker.png?1421954759') left 4px no-repeat;
  padding-left: 16px;
  font-style: italic;
  margin: 15px 0;
}
/* line 1317, ../src/sass/style.scss */
.text blockquote {
  background: url('../images/quote.png?1421264362') left top no-repeat;
  margin-left: 20px;
  padding-left: 80px;
  font-size: 20px;
  font-style: italic;
}
/* line 1323, ../src/sass/style.scss */
.text blockquote:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 109px;
  border-bottom: solid 1px #dde0e3;
}

/* line 1334, ../src/sass/style.scss */
.sidebar h2 {
  font-size: 24px;
  color: #999;
  font-weight: 400;
  margin: 30px 0;
}
/* line 1340, ../src/sass/style.scss */
.sidebar .post-title {
  font-size: 16px;
  font-weight: 400;
  color: #505050;
  line-height: 25px;
}
/* line 1345, ../src/sass/style.scss */
.sidebar .post-title img {
  margin-left: 5px;
}

/* line 1352, ../src/sass/style.scss */
.recent-post a {
  color: inherit;
}
/* line 1354, ../src/sass/style.scss */
.recent-post a:hover {
  color: #de4215;
}

/* line 1360, ../src/sass/style.scss */
.back {
  color: #de4215;
  background: url('../images/back.png?1422465945') left center no-repeat;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
}

/* line 1369, ../src/sass/style.scss */
.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}

/* line 1376, ../src/sass/style.scss */
.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}

/* line 1383, ../src/sass/style.scss */
.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* line 1390, ../src/sass/style.scss */
.leave-a-comment {
  font-size: 24px;
  color: #999;
  border-top: solid 1px #dbdfe0;
  padding-top: 30px;
  font-weight: 700;
}

/* line 1399, ../src/sass/style.scss */
.timeline {
  margin-top: 20px;
}

/* line 1402, ../src/sass/style.scss */
.years {
  text-align: center;
}
/* line 1404, ../src/sass/style.scss */
.years .slick-track {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
}

/* line 1410, ../src/sass/style.scss */
.year {
  position: relative;
  text-align: center;
  color: #8f98a2;
  cursor: pointer;
}
/* line 1415, ../src/sass/style.scss */
.year:after {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  position: absolute;
  background: #fff;
  bottom: -7px;
  margin-left: -6px;
  border: 2px solid #939ca6;
  border-radius: 50%;
  z-index: 0;
}
/* line 1428, ../src/sass/style.scss */
.year.slick-center {
  font-weight: bold;
  color: #505962;
}
/* line 1431, ../src/sass/style.scss */
.year.slick-center:after {
  border-color: #de4215;
  box-shadow: 0 0 0 5px rgba(222, 66, 21, 0.51);
}
/* line 1436, ../src/sass/style.scss */
.year span {
  font-size: 29px;
  font-weight: 300;
}
/* line 1440, ../src/sass/style.scss */
.year p {
  margin: 7px 0 0;
  padding-bottom: 15px;
  position: relative;
  z-index: 10;
}

/* line 1448, ../src/sass/style.scss */
.slick-slide {
  text-align: center;
}

/* line 1453, ../src/sass/style.scss */
img.year-icon,
.slick-slide img {
  display: inline-block;
}

/* line 1458, ../src/sass/style.scss */
.slick-prev,
.slick-next {
  width: 27px;
  height: 43px;
  top: 25%;
}
/* line 1462, ../src/sass/style.scss */
.slick-prev:before,
.slick-next:before {
  content: none;
}

/* line 1469, ../src/sass/style.scss */
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
  background: url('../images/left.png?1421264360') no-repeat;
}

/* line 1475, ../src/sass/style.scss */
.slick-next,
.slick-next:hover,
.slick-next:focus {
  background: url('../images/right.png?1421264363') no-repeat;
}

/* line 1479, ../src/sass/style.scss */
.carousel-post {
  position: absolute;
  top: 0;
  width: 640px;
  height: 334px;
  overflow: hidden;
}

/* line 1487, ../src/sass/style.scss */
.project-carousel {
  height: 450px;
  margin-bottom: 40px;
}
/* line 1490, ../src/sass/style.scss */
.project-carousel .carousel-post {
  width: 555px;
  height: 450px;
}

/* line 1496, ../src/sass/style.scss */
.has-featured-image .post .post-title {
  margin-top: 350px;
}

/* line 1500, ../src/sass/style.scss */
.resultado-busca .post .post-title {
  margin-top: 0;
}

/* line 1504, ../src/sass/style.scss */
.carousel-post .slick-prev {
  background: url('../images/slide-left.png?1422465979') no-repeat;
  width: 50px;
  height: 61px;
  left: 0;
  top: 50%;
  margin-top: -30px;
}

/* line 1513, ../src/sass/style.scss */
.carousel-post .slick-next {
  background: url('../images/slide-right.png?1422465980') no-repeat;
  width: 50px;
  height: 61px;
  right: 0;
  top: 50%;
  margin-top: -30px;
}

/* line 1523, ../src/sass/style.scss */
.slick-dots li {
  width: 13px;
  height: 13px;
  border: solid 2px #505962;
  border-radius: 50%;
}
/* line 1529, ../src/sass/style.scss */
.slick-dots li button:before {
  color: transparent;
}
/* line 1533, ../src/sass/style.scss */
.slick-dots li.slick-active {
  border-color: #de4215;
}
/* line 1536, ../src/sass/style.scss */
.slick-dots li.slick-active button:before {
  color: transparent;
}

/* line 1546, ../src/sass/style.scss */
.bg-orange .slick-dots li {
  border-color: #de4215;
}
/* line 1548, ../src/sass/style.scss */
.bg-orange .slick-dots li.slick-active {
  border-color: #fff;
}

/* line 1555, ../src/sass/style.scss */
.card {
  float: left;
  margin: 0 0 5px;
}

/* line 1561, ../src/sass/style.scss */
.cards .card:nth-child(3n+2) {
  margin: 0 5px 5px 5px;
}

/* line 1566, ../src/sass/style.scss */
.members .card {
  width: 323px;
  position: relative;
  height: 290px;
  cursor: pointer;
}

/* line 1573, ../src/sass/style.scss */
.flip-cover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  position: absolute;
  top: 0;
}

/* line 1585, ../src/sass/style.scss */
.js-flip:hover .flip-cover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 1594, ../src/sass/style.scss */
.member-info {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
}

/* line 1600, ../src/sass/style.scss */
.member-name {
  font-size: 23px;
  margin: 0 0 10px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
}

/* line 1608, ../src/sass/style.scss */
.member-department {
  font-size: 18px;
  margin: 0;
  line-height: 1;
  color: #de4215;
  font-weight: 700;
}

/* line 1617, ../src/sass/style.scss */
.dimensions {
  background: url('../images/bg-dimensions.jpg?1422465944') center top;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 1622, ../src/sass/style.scss */
.dimension-tab {
  font-size: 38px;
  font-weight: 700;
  margin: 0 20px;
}

/* line 1628, ../src/sass/style.scss */
.large-header {
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-image: url('../images/header-bim.jpg?1421954736');
}

/* line 1635, ../src/sass/style.scss */
#demo-canvas {
  position: absolute;
  width: 100%;
}

/* line 1641, ../src/sass/style.scss */
.about-bim h3 {
  margin-top: 30px;
}

/* line 1646, ../src/sass/style.scss */
.grid_6 .full-input {
  width: 450px;
}

/* line 1652, ../src/sass/style.scss */
.assinatura-katon {
  padding: 7px 10px 5px 5px;
  border-radius: 2px 0 0 2px;
  position: fixed;
  bottom: 10px;
  right: -82px;
  border: none;
  z-index: 100;
  box-shadow: inset 0 0 10px #ccc;
  transition: all 0.3s ease;
}
/* line 1662, ../src/sass/style.scss */
.assinatura-katon:hover {
  box-shadow: none;
}
/* line 1665, ../src/sass/style.scss */
.assinatura-katon img {
  vertical-align: middle;
}

/**
 * Trumps 
**/
/* line 1673, ../src/sass/style.scss */
.hidden {
  display: none;
}

/* line 1677, ../src/sass/style.scss */
.txt-center {
  text-align: center;
}

/* line 1681, ../src/sass/style.scss */
.one-third {
  width: 33%;
  float: left;
}

/* line 1686, ../src/sass/style.scss */
.areas .one-third {
  width: 32%;
  margin-right: 1%;
}

/* line 1691, ../src/sass/style.scss */
.one-quarter {
  width: 25%;
  float: left;
}

/* line 1696, ../src/sass/style.scss */
.one-half {
  width: 50%;
  float: left;
}

/* line 1702, ../src/sass/style.scss */
div.fancy-select {
  position: relative;
  color: #333;
}

/* line 1707, ../src/sass/style.scss */
div.fancy-select.disabled {
  opacity: 0.5;
}

/* line 1711, ../src/sass/style.scss */
div.fancy-select select:focus + div.trigger.open {
  box-shadow: none;
}

/* line 1715, ../src/sass/style.scss */
div.fancy-select div.trigger {
  cursor: pointer;
  padding: 8px 24px 7px 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  background: #fff;
  border: 1px solid #d7d7d7;
  color: #333;
  width: 100%;
  margin-bottom: 20px;
  transition: all 240ms ease-out;
  -webkit-transition: all 240ms ease-out;
  -moz-transition: all 240ms ease-out;
  -ms-transition: all 240ms ease-out;
  -o-transition: all 240ms ease-out;
}

/* line 1735, ../src/sass/style.scss */
div.fancy-select div.trigger:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #4B5468;
  top: 15px;
  right: 9px;
}

/* line 1747, ../src/sass/style.scss */
div.fancy-select div.trigger.open {
  box-shadow: none;
}

/* line 1751, ../src/sass/style.scss */
div.fancy-select div.trigger.open:after {
  border-top-color: #7A8498;
}

/* line 1755, ../src/sass/style.scss */
div.fancy-select ul.options {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  max-height: 200px;
  overflow: auto;
  background: #fff;
  border: 1px solid #959595;
  min-width: 200px;
  padding: 0;
  transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

/* line 1778, ../src/sass/style.scss */
div.fancy-select ul.options.open {
  visibility: visible;
  top: 45px;
  opacity: 1;
  transition: opacity 300ms ease-out, top 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

/* line 1790, ../src/sass/style.scss */
div.fancy-select ul.options.overflowing {
  top: auto;
  bottom: 40px;
  transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

/* line 1801, ../src/sass/style.scss */
div.fancy-select ul.options.overflowing.open {
  top: auto;
  bottom: 50px;
  transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

/* line 1812, ../src/sass/style.scss */
div.fancy-select ul.options li {
  padding: 8px 12px 8px 8px;
  color: #333;
  cursor: pointer;
  white-space: nowrap;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
}

/* line 1825, ../src/sass/style.scss */
div.fancy-select ul.options li.selected {
  font-weight: bold;
}

/* line 1829, ../src/sass/style.scss */
div.fancy-select ul.options li.hover {
  color: #000;
  padding: 8px 8px 8px 12px;
}

/* line 1840, ../src/sass/style.scss */
.wpcf7-response-output {
  padding: 15px 0 15px 50px;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 20px;
  border: none;
  display: none;
}

/* line 1849, ../src/sass/style.scss */
.wpcf7-validation-errors {
  background: url('../images/error.png?1422465949') 10px center no-repeat #de4215;
  color: white;
}

/* line 1853, ../src/sass/style.scss */
div.wpcf7-mail-sent-ok {
  color: #fff;
  background: url('../images/icon-sucesso.png?1422465971') 10px center no-repeat #86bbd1;
}

/* line 1857, ../src/sass/style.scss */
.wpcf7-not-valid {
  border: 1px solid #de4215 !important;
  background: #fdece7;
}

/* line 1861, ../src/sass/style.scss */
.wpcf7-not-valid-tip {
  display: none;
}

/* line 1864, ../src/sass/style.scss */
div.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 1878, ../src/sass/style.scss */
.parent-servicos .pp_middle,
.parent-servicos .pp_right,
.parent-servicos .pp_left {
  background: none !important;
}
/* line 1882, ../src/sass/style.scss */
.parent-servicos div.pp_default .pp_content {
  padding: 20px;
}
/* line 1884, ../src/sass/style.scss */
.parent-servicos div.pp_default .pp_content .button {
  display: inline-block;
  font-size: 18px;
  border-width: 3px;
  padding: 10px 10px;
  min-width: 165px;
}
/* line 1893, ../src/sass/style.scss */
.parent-servicos a.pp_close {
  display: none;
}
/* line 1896, ../src/sass/style.scss */
.parent-servicos div.pp_default #pp_full_res .pp_inline {
  text-align: center;
  color: #505962;
}

/* line 1901, ../src/sass/style.scss */
.more-area {
  text-align: left !important;
}
/* line 1903, ../src/sass/style.scss */
.more-area p {
  margin: 0 21px !important;
}

/* line 1908, ../src/sass/style.scss */
.first-section {
  background-size: cover;
}
