/*
===========================
CONTEÚDO:

* Configurações iniciais
* Ferramentas
* Genérico
* Base
* Objetos
* Componentes
* Trumps
===========================

Baseado na ITCSS: 

https://speakerdeck.com/dafed/managing-css-projects-with-itcss
http://www.hugobessa.com.br/posts/ITCSS-uma-maneira-de-pensar-arquiteturas-css/

*/

/**
 * Configurações iniciais
**/
// cores
$mainColor: #505962;
$red: #de4215;
$lightBlue: #75818e;
$grey: #e7e7e7;
$lightGrey: #efefef;

/**
 * Ferramentas
**/
@import "compass/css3/transition";
// @import "compass/css3/transform";
// @import "compass/utilities/sprites";

@mixin invert-colors($color, $aux-color) {
	&:hover{
		background: $color;
		border-color: $color;
		color: $aux-color;
	}
}

/**
 * Genérico
**/
@import "normalize";

*,:after,:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.wrapper {
	min-height:100%;
	position:relative;
}
/**
 * Base
**/
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: $mainColor;
}

section {
	padding: 80px 0;
}

a {
	color: $red;
	text-decoration: none;
	&:hover {
		color: $red;
		text-decoration: underline;
	}
}

h2 {
	font-size: 38px;
	margin: 0;
	font-weight: 600;
}

h3 {
	font-size: 26px;
	font-weight: 600;
	margin: 0;
}

p {
	line-height: 1.77;
}

label {
	font-weight: 600;
	margin-bottom: 5px;
	display: block;
}

input[type=text],
input[type=email],
textarea {
	width: 100%;
	border: 1px solid #d7d7d7;
	padding: 9px;
	font-size: 16px;
	color: $mainColor;
	margin-bottom: 20px;
}

input[type=submit] {
	border-radius: 3px;
	line-height: 1;
	border: none;
}

/**
 * Objetos
**/

@import "grid";

.header-nav {
	width: 100%;
	padding-top: 20px;
	position: fixed;
	z-index: 20;
}

.inline-list {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		float: left;
	}
}

.box {
	background: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
	margin: 20px 0;
}


// icones
.inner-icon {
	min-height: 36px;
	display: inline-block;
	background-position: left center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 10px;
	padding-left: 43px;
	text-align: left;
}

// ícones do menu
// o texto deve estar centralizado e o ícone deve estar alinhado ao lado esquerdo do texto
// ex.: <a href="" class="content-menu-link icon-eletrica"><span class="inner-icon">Lorem Ipsum</span></a>
@each $icone in historia, pilares, equipe, escritorios, clientes, entenda-bim, por-que-bim, pense-bim, construa {
	.icon-#{$icone} {
		.inner-icon {
			background-image: image_url("icon-#{$icone}.png");
		}
		&:hover .inner-icon,
		&.active .inner-icon {
			background-image: image_url("icon-#{$icone}-active.png");
		}
	}
}

// ícones dos serviços
@each $icone in eletrica, 4d, hidrossanitaria, incendio {
	.icon-#{$icone} {
		.inner-icon {
			// padding-left: 0;
				span {
				background: image_url("icons/icon-#{$icone}.png") -135px center;
				float: left;
				width: 43px;
				height: 46px;
				display: inline-block;
			}
		}
		&:hover .inner-icon span,
		&.active .inner-icon span {
			background: image_url("icons/icon-#{$icone}.png") -44px center;
		}
	}
	.icon-#{$icone}-big span {
		width: 47px;
		height: 150px;
		float: left;
		display: inline-block;
		background: image_url('icons/icon-#{$icone}.png') left 5px no-repeat;
	}
	.icon-#{$icone}-standalone {
		width: 43px;
		height: 46px;
		float: left;
		display: inline-block;
		background: image_url('icons/icon-#{$icone}.png') -44px center;
	}
	.icon-#{$icone}-border {
		width: 43px;
		height: 46px;
		float: left;
		display: inline-block;
		background: image_url('icons/icon-#{$icone}.png') -182px center;
	}
}


// ícones gerais
@each $icone in facebook, map, phone, check,  video, gallery, square, type, city, spda, subestacao, comunicacao, eletricas, automacao, seguranca {
	.icon-#{$icone} {
		background: image_url('icon-#{$icone}.png') left top no-repeat;
	}
}

.footer-icon {
	padding: 8px 0 8px 45px;
	margin-right: 30px;
	text-align: right;
	background-position: left center;
	float: right;
}

.number {
	background: image_url("bg-number.png");
	width: 44px;
	height: 50px;
	color: #fff;
	display: inline-block;
	line-height: 50px;
	margin-bottom: 20px;
}

.icon-check {
	background-position: left 8px;
	padding-left: 45px;
}


.tabs {
	background: image_url("bg-tabs.png") 10px bottom repeat-x;
	display: inline-block;
	position: relative;
	padding: 0 40px 20px;
	@include transition(background-position .2s ease-in);
	margin: 20px 0;
}

.tab-item {
	display: inline-block;
	a {
		color: $mainColor;
		text-decoration: none;
	}
	&.active a {
		color: $red;
	}
}


/**
 * Componentes
**/

// cabecalho
.main-header {
	height: 592px;
	display: table;
	width: 100%;
}

.video {
	width: 100%;
	position: absolute;	
}

.vert-center {
	display: table-cell;
	vertical-align: middle;
}

.logo {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	a {
		margin: 0;
		border: 0;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		display: block;
		background: image_url("logo.png");
		width: 135px;
		height: 45px;
		padding: 0;
	}
}

.header-transparent {
	@include transition(background-color .1s ease-in, box-sahdow .1s ease-in);
	background: image_url("bg-header.png") center top repeat-x;
	height: 106px;
}

.header-white {
	@include transition(background-color .3s ease-in, box-sahdow .3s ease-in);
	background: #fff;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 1px 3px rgba(0,0,0,0.36);
	height: 88px;
	.menu-link,
	.menu-link:hover {
		color: #2c2829;
	}
	.logo a {
		background: image_url("logo-black.png");
	}
	.login-item {
		background: image_url("login-black.png");
	}
}

.header-menu {
	float: left;
	position: relative;
	padding: 10px 0;
	margin-left: 40px;
}

.menu-item {
	display: inline-block;
	padding: 0 18px 0 13px;
	background: image_url("ellipse.png") center right no-repeat;
}

.menu-link {
	color: #fff;
	text-transform: lowercase;
}

.current-menu-item a,
.menu-link:hover {
	color: #fff;
	border-bottom: 2px solid $red;
	text-decoration: none;
}

.login-item {
	margin: 0;
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	display: block;
	float: left;
	background: image_url("login.png");
	width: 16px;
	height: 20px;
	position: relative;
	top: 10px;
	margin-left: 15px;
}


.main-title {
	color: #fff;
	font-size: 40px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.56);
	font-weight: 600;
}

.section-title {
	font-size: 60px;
	line-height: 64px;
	font-weight: 600;
}

.home {
	.main-title {
		font-size: 71px;
		color: #fff;
		font-weight: 600;
		line-height: 69px;
		text-shadow: none;
		margin-top: 88px;
		span {
			color: $red;
		}
	}
	.main-header {
		position: relative;
		text-align: center;
		position: relative;
		p {
			font-size: 24px;
		}
		.button {
			margin-top: 50px;
		}
	}
	h2 {
		font-size: 60px;
	}
}

.intro {
	text-align: center;
}

.home .intro {
	background: rgba(0,0,0,0.3);
	width: 100%;
	color: #fff;
}

// botoes
.button {
	background: none;
	border: 2px solid;
	display: inline-block;
	padding: 20px 30px;
	color: #fff;
	line-height: 1;
	font-size: 22px;
	@include transition(all .1s ease-in);
	@include invert-colors(#fff, $mainColor);
	min-width: 275px;
	&:hover {
		text-decoration: none;
	}
}

.button-red {
	color: $red;
	@include invert-colors($red, #fff);
}

.button-bim {
	background: image_url("button-bim.png") no-repeat;
	color: #fff;
	padding: 11px 18px;
	float: left;
	position: relative;
	margin-left: 25px;
	&:hover {
		color: #fff;
	}
}

.submit-button {
	padding: 12px 20px;
	background: $red;
	color: #fff;
}

.go {
	background: image_url("go.png") no-repeat;
	width: 19px;
	height: 19px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: bottom;
}

.button:hover .go {
	background: image_url("go-dark.png") no-repeat;
}

// rodapé
.main-footer {
	position: relative;
	z-index: 5;
	background: #fff;
	font-size: 16px;
	padding: 40px 0 50px;
	margin-top: 10px;
	overflow: hidden;
	a {
		color: inherit;
	}
}

.pre-footer {
	position: relative;
	z-index: 5;
	background: #fff;
}

.section-carousel {
	padding: 30px 0;
	text-align: center;
	h3 {
		margin-bottom: 30px;
	}
}

.home .section-carousel {
	padding: 80px 0;
	h3 {
		font-size: 60px;
		line-height: 1;
	}
}

.carousel-item {
	float: left;
	width: 14.28%;
}

.clients {
	background: $lightGrey;
}

.contact-info {
	margin-bottom: 40px;
	.footer-icon {
		float: left;
	}
	a {
		color: $mainColor;
	}
}
// conteudo

.blog,
.resultado-busca {
	background: #f4f4f4;
	.content {
		padding-top: 180px;
		background: #f4f4f4;
		color: #505050;
	}
	.main-footer {
		background: #f4f4f4;
	}
}

.content {
	position: relative;
	z-index: 10;
	background: #fff;
	&.has-menu {
	}
}

.content-menu {
	background: rgba(255,255,255,.9);
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	position: relative;
	top: -92px;
	+ section {
		padding-top: 0;
	}
}

.content-menu-item {
	text-align: center;
	display: table;
	border-right: 1px solid #d5d5d5;
	&:first-child {
		border-left: 1px solid #d5d5d5;
	}
}

.content-menu-link {
	color: $mainColor;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 0 10px;
	height: 90px;
	border-bottom: 5px solid transparent;
	@include transition(border-color .1s ease-in);
	&:hover,
	&.active {
		border-bottom-color: $red;
		text-decoration: none;
	}
}

.bg-image {
	color: #fff;
	position: relative;
}

.interessado {
	background: image_url("bg-interessado.jpg");
	background-attachment: fixed;
	height: 470px;
	width: 100%;
	display: table;
	p {
		font-size: 24px;
		line-height: 38px;
		font-weight: 300;
	}
}

.how {
	background-image: image_url("bg-intro.jpg");
	background-attachment: fixed;
	background-position: 50% 0;
	padding-bottom: 50px;
	// height: 666px;
}

.how-text {
	font-size: 24px;
	line-height: 38px;
	font-weight: 300;
	margin-top: 65px;
	&:before {
		content: "";
		width: 280px;
		height: 2px;
		background: #fff;
		display: block;
		position: relative;
		top: -35px;
	}
	p {
		margin: 0;
	}
}

.how-topics {
	margin-top: 60px;
}

.pense-bim {
	background: image_url("model.jpg") center center;
	display: table;
	width: 100%;
	height: 670px;
	p {
		font-size: 24px;
		line-height: 38px;
	}
}

.topic {
	border-bottom: solid 1px #dedede;
	padding-bottom: 30px;
	margin-bottom: 30px;
	h2 {
		margin-bottom: 20px;
	}
	p {
		margin-top: 0;
	}
	.read-more {
		color: #909090;
		padding: 3px 0 3px 30px;
		background-position: left center;
		font-weight: 600;
		+ .read-more {
			margin-left: 40px;
		}
	}
}

// Portfolio
.portfolio {
	.wp-pagenavi {
		float: none;
		display: inline-block;
	}
}

.portfolio-item {
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	padding: 60px 0;
	position: relative;
	overflow: hidden;
	&:hover .cover {
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

	  /* IE 5-7 */
	  filter: alpha(opacity=100);
		opacity: 1;
	}
}

.cover {
	// display: none;
	background: image_url("bg-portfolio.jpg") center top;
	position: absolute;
	top: 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);
	opacity: 0;
	height: 100%;
	width: 100%;
	@include transition(opacity .4s ease-in);
	.button {
		position: relative;
		top: 50%;
		margin-top: -33px;
	}
}

.portfolio-title {
	font-size: 50px;
	margin-bottom: 25px;
	color: $red;
}

.portfolio-info {
	padding: 2px 0 2px 30px;
	background-position: left center;
	+ .portfolio-info {
		margin-left: 30px;
	}
}

.portfolio-content {
	position: fixed;
	top: 100%;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: #f4f4f4;
	padding-top: 100px;
	overflow-y: scroll;
	text-align: left;
	@include transition(top .4s ease-in);
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: #f4f4f4;
	padding-top: 100px;
	overflow-y: scroll;
}

.lightbox-content {
	border-top: solid 4px $red;
	padding: 60px 0;
	margin-top: 10px;
	h2 {
		margin-bottom: 15px;
	}
}

.close {
	float: right;
	cursor: pointer;
}

.project {
	margin-top: 60px;
	blockquote {
		border-top: solid 5px #dedede;
		font-size: 16px;
		padding-top: 10px;
		margin-top: 50px;
	}
	.author {
		font-size: 14px;
		color: #999;
		font-weight: 600;
	}
}

.quote-title {
	color: $red;
	font-size: 26px;
	line-height: 32px;
	font-weight: 700;
	background: image_url("quote-light.png") left top no-repeat;
	padding: 20px 0 0 65px;
}

.project-info {
	p {
		margin: 0 0 5px;
	}
}

p.project-status {
	color: $red;
	font-style: italic;
	font-size: 16px;
	margin-bottom: 20px;
	&:after {
		content: "";
		width: 80px;
		height: 1px;
		background: #dedede;
		display: block;
		position: relative;
		top: 5px;
	}
}

// clientes
.clients-list {
	width: 100%;
	text-align: center;
	padding: 0 0 20px;
	display: table;
}

.client-tab {
	// width: 33%;
	display: table-cell;
	font-weight: 600;
	a {
		display: block;
		color: #909090;
	}
}

.client-card {
	display: table;
	position: relative;
	width: 323px;
	height: 230px;
	background: $lightGrey;
	text-align: center;
	cursor: pointer;
	@include transition(background .1s ease-in);
	&:hover {
		background: #dcdcdc;
	}
}

.card-active {
	cursor: default;
	z-index: 10;
	.client-info {
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	  /* IE 5-7 */
	  filter: alpha(opacity=100);
		opacity: 1;
	}
	.project-feature { // fix para I.E.
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	  /* IE 5-7 */
	  filter: alpha(opacity=100);
	}
}

.client-info {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 30px 20px 20px;
	color: #fff;
	background: #ea6f4c;
	background: rgba(233,70,26,.87);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
	opacity: 0;
	@include transition(opacity .2s ease-in);
	h2 {
		font-size: 26px;
		font-weight: 600;
	}
}

.view-project {
	color: #fff;
	position: absolute;
	bottom: 20px;
	left: 20px;
	&:hover {
		color: #fff;
	}
}
.project-feature {
	margin: 10px 5px 0 0;
	position: relative;
	display: inline-block;
	&:hover {
		&:before {
			content: "";
			position: absolute;
			border: solid 7px transparent;
			border-bottom: solid 12px #fff;
			top: 38px;
			left: 15px;
		}
		&:after {
			content: attr(alt);
			position: absolute;
			display: block;
			background: #fff;
			color: $mainColor;
			padding: 10px 15px;
			top: 55px;
			left: 0;
			white-space: nowrap;
			color: #4d4d4f;
			font-size: 16px;
		}
	}
	// Fix para I.E.
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
}

// sections
.first-section {
	background: image_url("hands.jpg") center center no-repeat;
	position: relative;
	background-attachment: fixed;
	.button {
		color: $mainColor;
		font-size: 18px;
		width: 284px;
		margin: 0 12px;
		padding: 20px;
		@include invert-colors($mainColor, #fff);
	}
}

.third-section {
	background: $grey;
}

.bg-dark {
	background: $mainColor;
	color: #fff;
}

.bg-orange {
	background: #ea6f4c;
	color: #fff;
}

.bg-pack {
	background: image_url("bg-pack.jpg");
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
	color: #fff;
}

// forms
.textarea-fix {
	width: 510px;
	float: left;
}

.search-input {
	color: #767676;
	font-size: 16px;
}

.search-button {
	background: image_url("search.png") center center no-repeat #fff;
	width: 50px;
	display: inline-block;
	float: right;
	position: absolute;
	right: 1px;
	top: 1px;
	padding: 10px;
}

// contato

.be-partner {
	background: #f5f5f5;
	h3 {
		font-size: 18px;
		margin-bottom: 40px;
	}
	.inner-icon {
		margin-right: 0;
	}
	.icon-equipe-dark	{
		.inner-icon {
			background-image: image_url("icon-equipe-dark.png");
		}
		&:hover .inner-icon {
			background-image: image_url("icon-equipe-white.png");
		}
	}
	.icon-clientes-dark	{
		.inner-icon {
			background-image: image_url("icon-clientes-dark.png");
		}
		&:hover .inner-icon {
			background-image: image_url("icon-clientes-white.png");
		}
	}
	.icon-escritorios-dark	{
		.inner-icon {
			background-image: image_url("icon-escritorios-dark.png");
		}
		&:hover .inner-icon {
			background-image: image_url("icon-escritorios-white.png");
		}
	}
	.button {
		color: $mainColor;
		font-size: 18px;
		width: 284px;
		margin: 0 12px;
		padding: 20px;
		@include invert-colors($mainColor, #fff);
	}
}

.map {
	width: 100%;
	height: 415px;
	margin: 0;
}

.parent-seja-parceiro {
	.inner-icon {
		margin-right: 0;
	}
}

textarea {
	height: 128px;
}

.small {
	font-size: 12px;
	font-style: italic;
	margin: 0;
}
// servicos
.service {
	h2 {
		// padding-left: 53px;
		font-weight: 600;
		line-height: 44px;
		background-position: left 7px;
		font-size: 32px;
	}
	p {
		margin-top: 0;
		line-height: 32px;
	}
}

.item-pack {
	margin: 40px 0 0;
}

.areas {
	h3 {
		border-top: solid 3px #fff;
		padding-top: 30px;
	}
	p {
		margin-top: 0;
		margin-bottom: 30px;
		padding: 0 0 5px 40px;
		background-position: left top;
	}
	a {
		color: #fff;
	}
}

.more-area {
	// background: #fff;
	padding: 15px 5px;
	margin-bottom: 40px;
	border: solid 1px #dedede;
	position: relative;
	// &:before {
	// 	content: "";
	// 	border: solid 7px transparent;
	// 	border-bottom: solid 12px #dedede;
	// 	position: absolute;
	// 	top: -18px;
	// 	right: 82px;
	// }
	p {
		position: relative;
		float: left;
		margin: 0 12px;
		padding: 0;
		font-size: 16px;
		line-height: 19px;
	}
	span {
		float: right;
	}
	abbr {
		background: $red;
		color: #fff;
		border-radius: 50%;
		border-bottom: none;
		font-size: 16px;
		font-weight: 600;
		width: 29px;
		line-height: 29px;
		margin: 0 8px 0 0;
		text-align: center;
		display: inline-block;
	}
}

.lightbox-text {
	padding: 10px 40px 40px;
	h2 {
		margin: 20px 0 40px;
	}
}

// blog
.post-content {
	padding: 40px 40px 20px;
}

.post-title {
	font-size: 30px;
	line-height: 34px;
	font-weight: 600;
	a {
		color: inherit;
	}
}

.post-date img {
	position: relative;
	top: -2px;
}

.post-thumb {
	float: left;
	margin-right: 40px;
}

.post-excerpt {
	font-size: 16px;
	line-height: 26px;
}

.read-more {
	color: $red;
	background: image_url("plus.png") left center no-repeat;
	padding-left: 20px;
	font-size: 14px;
	font-weight: 700;
	&:hover {

	}
}

.post-info {
	color: #999999;
	font-size: 14px;
	font-weight: 400;
	img {
		margin-right: 10px;
		vertical-align: middle;
	}
	p {
		line-height: 1;
		display: inline-block;
		margin: 0 25px 15px 0;
	}
	a {
		color: inherit;
	}
}

.social {
	list-style: none;
	padding: 0;
	display: inline-block;
	margin: 0 0 30px;
	position: relative;
	top: 5px;
	li {
		display: inline-block;
	}
	img {
		border-radius: 4px;
	}
}

.wp-pagenavi {
	float: right;
	margin: 60px 0;
	a,
	span {
		color: #505050;
		border-top: solid 1px #c5c5c5;
		display: inline-block;
		margin: 0;
		padding: 10px 13px;
		float: left;
		@include transition(all .1s ease-in);
	}
	a:hover {
		border-color: $mainColor;
	}
	.disabled {
		color: #c5c5c5;
	}
	.current {
		color: $red;
		border-color: $red;
	}
}

// 404
.error404 {
	h1 {
		font-size: 60px;
		line-height: 1;
	}
	p {
		font-size: 30px;
		line-height: 40px;
		font-weight: 300;
	}
	a {
		text-decoration: underline;
	}
}

.plug {
	position: absolute;
	width: 50%;
	height: 215px;
	overflow: hidden;
}

.plug-m {
	background: image_url("cable.jpg") left center repeat-x;
	left: 0;
	img {
		float: right;
	}
}

.plug-f {
	background: image_url("cable-f.jpg") left center repeat-x;
	right: 0;
	img {
		float: left;
	}
}

// single

.post-title {
	margin-bottom: 20px;
}

.text {
	color: #505050;
	font-size: 16px;
	h3 {
		font-size: 20px;
	}
	a {
		&:hover {
			text-decoration: none;
			border-bottom: solid 2px $red;
		}
	}
	ul {
		margin: 0;
		padding-left: 0px;
		li {
			list-style: none;
			background: image_url("ul-marker.png") left 4px no-repeat;
			padding-left: 16px;
			font-style: italic;
			margin: 15px 0;
		}
	}
	blockquote {
		background: image_url("quote.png") left top no-repeat;
		margin-left: 20px;
		padding-left: 80px;
		font-size: 20px;
		font-style: italic;
		&:after {
			content: "";
			position: relative;
			display: inline-block;
			width: 109px;
			border-bottom: solid 1px #dde0e3;
		}
	}
}

.sidebar {
	h2 {
		font-size: 24px;
		color: #999;
		font-weight: 400;
		margin: 30px 0;
	}
	.post-title {
		font-size: 16px;
		font-weight: 400;
		color: #505050;
		line-height: 25px;
		img {
			margin-left: 5px;
		}
	}
}

.recent-post {
	a {
		color: inherit;
		&:hover {
			color: $red;
		}
	}
}

.back {
	color: $red;
	background: image_url("back.png") left center no-repeat;
	padding-left: 30px;
	font-size: 16px;
	font-weight: 600;
}

.alignleft,
img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}

.alignright,
img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}

.aligncenter,
img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}

.leave-a-comment {
	font-size: 24px;
	color: #999;
	border-top: solid 1px #dbdfe0;
	padding-top: 30px;
	font-weight: 700;
}

// carousel
.timeline {
	margin-top: 20px;
}
.years {
	text-align: center;
	.slick-track {
		border-bottom: 1px solid #e4e4e4;
		margin-bottom: 20px;
	}
}

.year {
	position: relative;
	text-align: center;
	color: #8f98a2;
	cursor: pointer;
	&:after {
		content: "";
		width: 13px;
		height: 13px;
		display: inline-block;
		position: absolute;
		background: #fff;
		bottom: -7px;
		margin-left: -6px;
		border: 2px solid #939ca6;
		border-radius: 50%;
		z-index: 0;
	}
	&.slick-center {
		font-weight: bold;
		color: $mainColor;
		&:after {
			border-color: $red;
			box-shadow: 0 0 0 5px rgba($red, 0.51);
		}
	}
	span {
		font-size: 29px;
		font-weight: 300;
	}
	p {
		margin: 7px 0 0;
		padding-bottom: 15px;
		position: relative;
		z-index: 10;
	}
}

.slick-slide {
	text-align: center;
}

img.year-icon,
.slick-slide img {
	display: inline-block;
}

.slick-prev,
.slick-next {
	width: 27px;
	height: 43px;
	top: 25%;
	&:before {
		content: none;
	}
}

.slick-prev,
.slick-prev:hover,
.slick-prev:focus, {
	background: image_url("left.png") no-repeat;
}

.slick-next,
.slick-next:hover,
.slick-next:focus {
	background: image_url("right.png") no-repeat;
}

.carousel-post {
	position: absolute;
	top: 0;
	width: 640px;
	height: 334px;
	overflow: hidden;
}

.project-carousel {
	height: 450px;
	margin-bottom: 40px;
	.carousel-post {
		width: 555px;
		height: 450px;
	}
}

.has-featured-image .post .post-title {
	margin-top: 350px;
}

.resultado-busca .post .post-title {
	margin-top: 0;
}

.carousel-post .slick-prev {
	background: image_url("slide-left.png") no-repeat;
	width: 50px;
	height: 61px;
	left: 0;
	top: 50%;
	margin-top: -30px;
}

.carousel-post .slick-next {
	background: image_url("slide-right.png") no-repeat;
	width: 50px;
	height: 61px;
	right: 0;
	top: 50%;
	margin-top: -30px;
}

.slick-dots {
	li {
		width: 13px;
		height: 13px;
		border: solid 2px $mainColor;
		border-radius: 50%;
		button {
			&:before {
				color: transparent;
			}
		}
		&.slick-active {
			border-color: $red;
			button {
				&:before {
					color: transparent;
				}
			}
		}
	}
}

.bg-orange {
	.slick-dots {
		li {
			border-color: $red;
			&.slick-active {
				border-color: #fff;
			}
		}
	}
}

.card {
	float: left;
	margin: 0 0 5px;
}

.cards {
	.card:nth-child(3n+2) {
		margin: 0 5px 5px 5px;
	}
}

.members .card {
	width: 323px;
	position: relative;
	height: 290px;
	cursor: pointer;
}

.flip-cover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
	opacity: 0;
	@include transition(opacity .4s ease-in);
	position: absolute;
	top: 0;
}

.js-flip:hover {
	.flip-cover {
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	  /* IE 5-7 */
	  filter: alpha(opacity=100);
		opacity: 1;
	}
}

.member-info {
	position: absolute;
	bottom: 40px;
	text-align: center;
	width: 100%;
}
.member-name {
	font-size: 23px;
	margin: 0 0 10px;
	line-height: 1;
	font-weight: 600;
	color: #fff;
}

.member-department {
	font-size: 18px;
	margin: 0;
	line-height: 1;
	color: $red;
	font-weight: 700;
}

// BIM
.dimensions {
	background: image_url("bg-dimensions.jpg") center top;
	@include transition(all .2s ease-in);
}

.dimension-tab {
	font-size: 38px;
	font-weight: 700;
	margin: 0 20px;
}

.large-header {
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-image: image_url('header-bim.jpg');
}

#demo-canvas {
	position: absolute;
	width: 100%;
}

.about-bim {
	h3 {
		margin-top: 30px;
	}
}

.grid_6 .full-input {
	width: 450px;
}

// assinatura da katon

.assinatura-katon {
	padding: 7px 10px 5px 5px;
	border-radius: 2px 0 0 2px;
	position: fixed; 
	bottom:10px; 
	right:-82px;
	border: none;
	z-index: 100;
	box-shadow: inset 0 0 10px #ccc;
	transition:all 0.3s ease;
	&:hover {
		box-shadow: none;
	}
	img {
		vertical-align: middle;
	}
}
/**
 * Trumps 
**/

.hidden {
	display: none;
}

.txt-center {
	text-align: center;
}

.one-third {
	width: 33%;
	float: left;
}

.areas .one-third {
	width: 32%;
	margin-right: 1%;
}

.one-quarter {
	width: 25%;
	float: left;
}

.one-half {
	width: 50%;
	float: left;
}

// third-part
div.fancy-select {
	position: relative;
	color: #333;
}

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select select:focus + div.trigger.open {
	box-shadow: none;
}

div.fancy-select div.trigger {
	cursor: pointer;
	padding: 8px 24px 7px 9px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: #fff;
	border: 1px solid #d7d7d7;
	color: #333;
	width: 100%;
	margin-bottom: 20px;

	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #4B5468;
	top: 15px;
	right: 9px;
}

div.fancy-select div.trigger.open {
	box-shadow: none;
}

div.fancy-select div.trigger.open:after {
	border-top-color: #7A8498;
}

div.fancy-select ul.options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 40px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	max-height: 200px;
	overflow: auto;
	background: #fff;
	border: 1px solid #959595;
	min-width: 200px;
	padding: 0;

	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 45px;
	opacity: 1;

	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 40px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 50px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
	padding: 8px 12px 8px 8px;
	color: #333;
	cursor: pointer;
	white-space: nowrap;

	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
	font-weight: bold;
}

div.fancy-select ul.options li.hover {
	color: #000;
	padding: 8px 8px 8px 12px;
}

// contactform
.error,
.error span,
.wpcf7-validation-errors {
	// color: $red;
}
.wpcf7-response-output {
	padding: 15px 0 15px 50px;
	font-style: italic;
	line-height: 1.2;
	margin-bottom: 20px;
	border: none;
	display: none;
}

.wpcf7-validation-errors {
	background: image_url("error.png") 10px center no-repeat $red;
	color: #fff
}
div.wpcf7-mail-sent-ok {
	color: #fff;
	background: image_url("icon-sucesso.png") 10px center no-repeat #86bbd1;
}
.wpcf7-not-valid {
	border: 1px solid $red !important;
	background: #fdece7;
}
.wpcf7-not-valid-tip {
	display: none;
}
div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

.parent-servicos {
	.pp_middle,
	.pp_right,
	.pp_left {
		background: none !important;
	}

	div.pp_default .pp_content {
		padding: 20px;
		.button {
			display: inline-block;
			font-size: 18px;
			border-width: 3px;
			padding: 10px 10px;
			min-width: 165px;
		}
	}

	a.pp_close {
		display: none;
	}
	div.pp_default #pp_full_res .pp_inline {
		text-align: center;
		color: $mainColor;
	}
}
.more-area {
	text-align: left !important;
	p {
		margin: 0 21px !important;
	}
}

.first-section {
	background-size: cover;
}